* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}
body {
  background-color: #ffffff !important;
}

.meucontainer {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  display: grid;
  height: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1f 1fr 0.5fr;
  grid-template-areas:
    "nav nav nav nav"
    "main main main main"
    "c c c c"
    "rodape rodape rodape rodape";
}

.menu {
  grid-area: nav;
  gap: 1rem;
  background-color: #053a09
}

.menu-itens {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.logo {
  width: 100px;
}

#principal {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #005c0c;
  padding: 5rem;
  border-radius: 2rem;
  margin-top: 2rem;
  width: 100%;
  height: 500px;
}

#principal > img {
  width: 800px;
}

#contents {
  grid-area: c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.transferenciasps {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 2px;
  background-color: #053a09;
  border-radius: 2rem;
}

.title {
  margin: 2rem;
  font-size: 64px;
  color: #1fb127;
}

.transferenciasp {
  text-align: center;
  padding: 2rem 1rem;
}

.transferenciasp img {
  width: 250px;
  margin: 1rem;
}

.transferenciasp-name {
  margin: 0.8rem;
  font-weight: 300;
}

.transferenciasp-price {
  font-size: 1.5rem;
  padding-bottom: 0.2rem;
}


#rodape {
  grid-area: rodape;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #011803 
}

.meu_input {
    background-color: #101010 !important;
    border: 1px solid #053a09 !important;
    color: #053a09;
}

.meu_button {
    background-color: #097712 !important;
    border: none !important;
}

@media screen and (max-width: 992px) {
    .transferenciasps {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
}

@media screen and (max-width: 1080px) {
    .transferenciasps {
        grid-template-columns: 1fr 1fr;
      }
}
@media screen and (max-width: 576px) {
    .transferenciasps {
      grid-template-columns: 1fr;
    }
    #rodape {
      display: flex;
      flex-direction: column;
    }
    .contatos h1 {
        font-size: 64px;
        margin-top: 3rem;
        margin-bottom: 0;
      }
  }
